

*{
    margin: 0px;
    padding: 0px;
    /* background-color: #FF0000; */
}




/* body section part */

#top-section{
    /* border: 1px solid; */
    width: 1320px;
    height: 600px;
    margin: auto;
    margin-top: 10vh;
    background-image: url("../utility/images/Banner\ Image.png");
    filter: brightness(0.7);
}

#top-article{
    position: relative;
    bottom: 48vh;
}

#top-article h6{
    font-family: "Merriweather", serif;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
}
#top-article h2{
    font-family: "Merriweather", serif;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    color: #FFFFFF;
}





#secondary-article{
    text-align: center;
}
#secondary-article h1{
    font-size: 88px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #FF0000;
}
#secondary-article p{
    font-size: 24px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #FF0000;
    margin-top: 5vh;
}
#secondary-article h5{
    font-size: 48px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #070211;
    margin-top: 2vh;
}
#secondary-section{
    /* border: 1px solid; */
    width: 802px;
    height: 500px;
    margin: auto;
    margin-top: 10vh;
    background-image: url("../utility/images/New\ Year\ Photo.png");
    /* filter: brightness(0.9); */
}





#third-article{
    position: absolute;
    top: 210vh;
    /* top: 120vh; */
    left: 20vw;
    /* text-align: center; */
    width: 30%;
    z-index: 1;
}
#third-article h1{
    font-size: 64px;
    font-weight: 800;
    font-family: "Merriweather", serif;
    color: white;
}
#third-article p{
    font-size: 14px;
    font-weight: 100;
    font-family: "Inter", sans-serif;
    color: white;
    margin-top: 60px;
}
#third-article button{
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
    font-family: "Inter", sans-serif;
    color: white;
    margin-left: 30px;
    margin-top: 50px;
}

#third-section{
    /* border: 1px solid; */
    width: 1320px;
    height: 600px;
    margin: auto;
    margin-top: 10vh;
    background-image: url("../utility/images/Vectorrr.png");
    filter: brightness(0.5);
}
#third-section-img{
    position: absolute;
    top: 205vh;
    /* top: 120vh; */
    left: 60vw;
    /* text-align: center; */
    z-index: 1;
    height: 465px;
}





#fourth-section{
    text-align: center;
    line-height: 60px;
    margin: auto;
    margin-top: 10vh;
    padding-top: 12vh;
    width: 1320px;
    height: 482px;
    border-radius: 20px;
    background-image: linear-gradient(#FF00001A, #FF000000);
}

.fourth-section-h4{
    font-size: 32px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #070211;
}
.fourth-section-red-span{
    color: #FF0000;
}

#fourth-section button{
    width: 167px;
    height: 56px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    background-color: #FF0000;
    border: none;
    border-radius: 8px;

}







#fifth-section{
    display: flex;
    width: 70%;
    margin: auto;
    /* border: 1px solid; */
}
#fifth-section-oneDiv{
    width: 470px;
    /* border: 1px solid; */
    margin-top: 60px;
    padding-right: 50px;
}
#fifth-section-oneDiv h6{
    font-size: 24px;
    font-weight: 400;
    color: red;
    font-family: "Inter", sans-serif;
}
#fifth-section-oneDiv h3{
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    font-family: "Merriweather", serif;
}
#fifth-section-oneDiv p{
    font-size: 16px;
    font-weight: 300;
    color: black;
    font-family: "Inter", sans-serif;
}
#fifth-section-twoDiv{
    width: 463px;
    height: 463px;
    border: #FF0000 solid 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}
#fifth-section-threeDiv{
    width: 276px;
    height: 463px;
    margin-left: 70px;
    /* border: 1px solid; */
}

#fifth-section-threeDiv h4{
    font-size: 48px;
    font-weight: 600px;
    font-family: "Inter", sans-serif;
    color: #FF0000;
    padding-top: 120px;
}
#fifth-section-threeDiv p{
    font-size: 20px;
    font-weight: 300px;
    font-family: "Inter", sans-serif;
    color: black;
    padding-top: 20px;
}
#fifth-section-threeDiv img{
    padding-top: 40px;
}






#sixth-section{
    text-align: center;
    margin-top: 20vh;
}
#sixth-section h6{
    font-size: 24px;
    font-weight: 500px;
    font-family: "Inter", sans-serif;
    color: black;
}
#sixth-section h1{
    font-size: 72px;
    font-weight: 700;
    font-family: "Merriweather", serif;
    color: black;
    margin-top: 20px;
}
#sixth-section h1 span{
    color: red;
}
#sixth-section p{
    font-size: 17px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    color: black;
    margin-top: 40px;
    /* border: 1px solid; */
}
















